{% extends 'purchase_log/base.html' %}

{% block body %}

    <h1>{{ user.username }}'s friends:</h1>

    {% for friend in friend_list %}
        {% if friend_list %}
            <ul>
                <li>{{ friend.username }}</li>
            </ul>
        {% endif %}
    {% endfor %}

    <form id="searchform" action="{% url 'users:search_friends' %}" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        <i class="fa fa-search">Add Friend</i>
      </button>
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
    </form>


{% endblock %}