{% extends 'purchase_log/base.html' %}

{% block body %}

    {% if unread_friend_request_list %}<h1>Unread Friend Requests</h1>{% endif %}
    {% for f_request in unread_friend_request_list %}
        <ul>
            <li>
                <a href="{% url 'users:request_details' f_request.id %}">{{ f_request.from_user|title }}
                    wants to add you as a friend.</a>
            </li>
        </ul>
    {% endfor %}

    {% if read_friend_request_list %}<h1>Read Friend Requests</h1>{% endif %}
    {%for f_request in read_friend_request_list %}
        <ul>
            <li>
                <a href="{% url 'users:request_details' f_request.id %}">{{ f_request.from_user|title }}
                    wants to add you as a friend.</a>
            </li>
        </ul>
    {% endfor %}


{% endblock %}