{% extends 'users/inbox_base.html' %}

{% block inbox_active %}active{% endblock %}


{% block sub_body %}
  <a href="{% url 'users:make_message' user.id %}"><i class="fa fa-plus" style="color: #22bc07"> Compose</i></a>
  {% for message in message_list %}
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
      <li>
        {% if message.read == False %}<i class="fa fa-star" style="color: #ffff00"> NEW</i>{% endif %}
        <a href="{% url 'users:message_details' message.id %}">
          From: {{ message.from_user }} - {{ message.subj }}
        </a>
      </li>
    </ul>
  {% endfor %}
{% endblock %}