<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Jcarr{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'purchase_log/style.css' %}"/>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#TopNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'purchase_log:index' %}">Jcarr</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="TopNavBar">

            <ul class="nav navbar-nav">
                <li class="{% block albums_active %}{% endblock %}">
                    <a href="{% url 'purchase_log:receipts' %}">
                        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>&nbsp; Receipts
                    </a>
                </li>
                <li class="{% block songs_active %}{% endblock %}">
                    <a href="#">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; Grocery Lists
                    </a>
                </li>
                <li class="{% block recipes_active %}{% endblock %}">
                    <a href="#">
                        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp; Recipes
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>&nbsp; Expences
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp; Stocks
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
