{% extends 'purchase_log/receipt_details.html' %}


{% block item_form %}
<form action="{% url 'purchase_log:add_product' current_receipt.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {% if current_receipt.split == True %}{{ formset.as_p }}{% endif %}
    <button name='submit' style="background-color: #6a8000;border-color: forestgreen;color: #000000" class="btn btn-primary">Submit</button>
    <input style="background-color: #6a8000;border-color: forestgreen;color: #000000" class="btn btn-primary" type="button" onClick="window.location.href='{% url 'purchase_log:add_product_type' current_receipt.id %}'"
               value="Add Product Type"/>
</form>
{% endblock %}

{% block button %}
{% endblock %}