{% extends 'purchase_log/base.html' %}
{% block title %}{{ current_receipt }}{% endblock %}

{% block body %}
    <h1>{{ current_receipt.store.name }}</h1>
    <h3>{{ current_receipt.date }}</h3>

    {% for product in current_receipt.receiptproduct_set.all %}
        <ul>
            <li>
                <a href="{% url 'purchase_log:product_details' product.product.id %}">
                    {{ product.product }}</a>: ${{ product.price }}
                {% if product.description %}
                    {{ product.description }}
                {% endif %}

                {% if product.sale == True %}
                    <font color = green>Sale!</font>
                {% endif %}
                <a href="{% url 'purchase_log:delete_receipt_product' receipt_id=product.receipt.pk pk=product.pk %}"
                   style="color: red">Delete</a>
            </li>
        </ul>
    {% endfor %}
    {% block form %}{% endblock %}
    {% block button %}
    <input type="button" onClick="window.location.href='{% url 'purchase_log:add_product' current_receipt.id %}'"
           value="Add item"/>
    {% endblock %}
    <h5>Sub Total: ${{ total }}</h5>
    <h5>Tax: ${{ tax }}</h5>
    <h4>Total: ${{ total_and_tax }}</h4>
{% endblock %}
