{% extends 'purchase_log/base.html' %}

{% load purchase_log %}



{% block title %}Receipts{% endblock %}

{% block body %}

    {% for receipt in receipt_list %}
        <ul>
            <li><a href="{% url 'purchase_log:receipt_details' receipt.id %}">{{ receipt }}</a>:
                ${{ total_dict|get_item:receipt.id }}
                <a href="{% url 'purchase_log:delete_receipt' receipt.id %}" style="color: red">Delete</a>
                <a href="{% url 'purchase_log:edit_receipt' receipt.id %}"
                   style="color: blue">Edit</a>
            </li>
        </ul>
    {% endfor %}
    {% block form %}{% endblock %}
    {% block button %}
    <input type="button" onClick="window.location.href='{% url 'purchase_log:add_receipt' %}'"
           value="Add Receipt"/>
    {% endblock %}
{% endblock %}