{% extends 'users/inbox_base.html' %}


<!-- This is to highlight the proper tab depending on weather or not the message was sent by the current user -->
    {% block inbox_active %}
        {% if message.to_user.id == user.id %}
            active
        {% endif %}
    {% endblock %}
    {% block sent_active %}
        {% if message.from_user.id == user.id %}
            active
        {% endif %}
    {% endblock %}

<!-- This will display the message -->

{% block sub_body %}
<div class="receipt">
    <h1>{{ current_receipt.store.name }}</h1>
    <h3>{{ current_receipt.date }}</h3>

    {% for product in current_receipt.receiptproduct_set.all %}
        <ul>
            <li>
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                <a href="{% url 'purchase_log:product_details' product.product.id %}">
                    {% if product.split %}<i class="fa fa-user-plus" aria-hidden="true"></i>{% endif %}
                    {{ product.product }}</a>: ${{ product.price }}
                {% if product.description %}
                    {{ product.description }}
                {% endif %}

                {% if product.sale == True %}
                    <font color = green>Sale!</font>
                {% endif %}
            </li>
        </ul>
    {% endfor %}

    {% block item_form %}{% endblock %}

    <h5>Sub Total: ${{ total }}</h5>
    <h5>Tax: ${{ tax }}</h5>
    <h4>Total: ${{ total_and_tax }}</h4>
{% endblock %}
